@model Eam.Ingenieria.Matagym.Measurement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measurement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bodyFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bodyFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
